h1, h2, h3, h4{
    text-align: center;
    border-style:outset;
    border-width: 5px;
    border-color: gold;
    border-radius: 10px;
    padding:10px;

}

.default {
    background-color: lightblue;
    font-family: Helvetica, impact, 'Times New Roman';
    }

.dark-mode {
    background-color: black;
    color: white;
}

.light-mode {
    background-color: white;
    color: black;
}

